<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96566348877-a36agl2s5epqb0hogl7ija6ngo57rboe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96566348877-a36agl2s5epqb0hogl7ija6ngo57rboe</string>
	<key>API_KEY</key>
	<string>AIzaSyBWQL-8kSOEH_jWkSjQ0CM2fdfwlHwYf7U</string>
	<key>GCM_SENDER_ID</key>
	<string>96566348877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yurtsevich.farm.farm</string>
	<key>PROJECT_ID</key>
	<string>farm-327213</string>
	<key>STORAGE_BUCKET</key>
	<string>farm-327213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96566348877:ios:1aa2334ce088af63036004</string>
</dict>
</plist>